@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbar a{
    font-weight: 600;
    font-size: 18px;
}

.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 13px;
}



.c-item {
    height: 880px;
}

@media (max-width: 450px)  {
    .c-item {
        height: 480px;
    }
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(.9);
}

.banner img {
    max-width: 480px;
}

.carousel-caption {
    padding-top: 250px;
}